.product-details {
  display: flex;
  text-align: left;
  background-color: #f6f6f6;
  margin: 30px 100px;
  border-radius: 30px;
  padding: 100px;
  gap: 50px;
  
}

.product-details .image {
  height: 300px;
  width: 300px;
  border-radius: 20px;
}
.product-details .title {
  font-size: xx-large;
}
.product-details .description {
  color: grey;
}
